/* This style is used to add customized classes for my theme */

/* Sticky Top Bar */

.atm-top-bar {
    position: relative;
    z-index: 10;
    width: 100%;
    font-size: .8rem;
    background-color: #000;
    padding-top: .5em;
    padding-bottom: .5em;
    text-align: center;
    color: #fff;
    text-transform: uppercase;
}

.atm-top-bar a {
    color: #fff;
}

.atm-top-bar a:hover {
    color: rgba(252,248,244,0.7);
    cursor: pointer;
}

.atm-sticky {
    background-color: #fff;
    top: 0px !important;
    box-shadow: 0 0 10px rgba(0,0,0,0.9);
}

#sticky {
    transition: 0.5s;
}

#sticky .navbar-brand img:after, #sticky .navbar-brand img:before {
    position: absolute;
    content: "";
    top: 0;
    right: 0;
    width: 100%;
    height: 50px;
    transform: skewx(10deg);
}

/* Carousel Style */

.atm-carousel-item img {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}

.atm-nav {
    flex-grow: 0;
    background: rgba(255,255,255,.8);
    text-transform: uppercase;
    line-height: 1;
    font-weight: 400;
    font-size: .8rem;
}

.atm-nav a:hover {
    color: rgba(0,0,0,0.7);
}

.atm-btn {
    line-height: 1;
    padding: .5rem 1rem !important;
    border-radius: 0;
    transition: all .2s ease-in-out 0s;
    font-size: .8rem;
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: 2px;
    display: inline-block;
    font-weight: 400;
    cursor: pointer;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    border-bottom-style: solid;
    border-bottom-width: 1px;
    border-image-outset: 0;
    border-image-repeat: stretch;
    border-image-slice: 100%;
    border-image-source: none;
    border-image-width: 1;
}

.atm-btn-brand {
    font-family: 'Cinzel';
    color: #fff;
    background-color: #000;
    border-color: #000;
    border: none;
}

.atm-btn-brand:hover {
    animation: atmbtnbrand 3s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
    color: #fff;
    background-color: #333;
    border-color: #333;
}

.atm-bot-nav {
    flex-grow: 0;
    text-transform: uppercase;
    line-height: 1;
    font-weight: 400;
    font-size: .8rem;
}

.atm-bot-nav a:hover {
    color: rgba(252,248,244,0.7);
}

.atm-sticky-bot-nav {
    background-color: #000;
    padding: 1rem 2rem;
}

.atm-bot-nav a {
    color: #fff;
}

.atm-icon {
    margin: .5rem;
}

.atm-sticky-bot-nav .atm-icon {
    background-color: rgba(0,0,0,1);
    border-radius: 50%;
}

.atm-sticky-bot-nav .fb {
    padding: .2rem .3rem .2rem .5rem;
}

.atm-sticky-bot-nav .tw {
    padding: .2rem .15rem .2rem .45rem;
}

.atm-sticky-bot-nav .in {
    padding: .2rem .35rem .2rem .45rem; 
}

.atm-sticky-bot-nav .atm-icon:hover {
    background-color: rgba(255,255,255,0.7);
}

.in:hover > .fa-instagram, .tw:hover > .fa-twitter, .fb:hover > .fa-facebook {
    color: #000;
}

.atm-sticky-bottom {
    bottom: 56px;
}

.atm-bottom-nav {
    width: 100%;
    color: #fff;
    background-color: #000;
    letter-spacing: .05rem;
    word-wrap: break-word;
}

.atm-bottom-nav-address > h3 {
    text-align: left;
}

.atm-bottom-nav-social, .atm-bottom-nav-news {
    text-align: center;
}

.atm-bottom-nav-address > h3, .atm-bottom-nav-social > h3, .atm-bottom-nav-news > h3 {
    font-family: 'Goudy Old Style';
    font-size: 1.25rem;
    font-weight: 600;
    text-transform: uppercase;
    padding-bottom: 1rem;
}

.atm-about-section-top {
    text-align: center;
    padding: 4rem 10rem;
}

.atm-about-section-top h3 {
    font-family: 'Goudy Old Style';
    font-size: 1.35rem;
    font-weight: 200;
}

.atm-bottom-nav-copy {
    font-size: .8rem;
    font-weight: 100;
    text-align: center;
    margin: 2rem 0rem;
}

.atm-btn-brand-alt {
    font-family: 'Cinzel';
    color: #333;
    background-color: #fff;
    border-color: #333;
}

/* Brands Division Section */

.atm-c-tout-overlay--dimmed::after {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 0;
    content: '';
    display: block;
    background-color: rgba(0,0,0,0.2);
}

.atm-c-tout-overlay {
    background-attachment: fixed;
    height: 10vh !important;
    padding: 0;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    position: relative;
    z-index: 0;
    min-height: 28rem;
    text-align: center;
    color: #fff;
    background-color: #222;
    overflow: hidden;
}

.atm-c-tout-overlay > div {
    position: absolute;
    top: 50%;
    right: 0;
    left: 0;
    z-index: 1;
    width: 100%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    padding-top: 4rem;
    padding-bottom: 4rem;
}

.atm-c-tout-overlay .container .h1 {
    font-style: italic;
    text-transform: none;
    font-size: 4rem;
    line-height: 1;
}

.atm-c-tout-overlay .container .h1 {
    width: 60%;
    margin: 0 auto 20px;
}

.atm-c-tout-overlay h1, .atm-c-tout-overlay .h1 {
    color: #fff;
}

.atm-c-tout-overlay .btn {
    margin-top: 1rem;
}

.atm-c-split {
    margin: 6rem auto;
    display: table;
    table-layout: fixed;
    width: 100%;
    background-repeat: repeat;
    background-position: top left;
    overflow: hidden;
}

.atm-c-split__col {
    text-align: center;
    padding-left: 1.875rem;
    padding-right: 1.875rem;
    position: relative;
    z-index: 0;
    min-height: 68vh;
    background-repeat: repeat;
    background-position: top left;
    overflow: hidden;
}

.atm-c-split__col-inner {
    display: flex;
    height: 100%;
    width: 100%;
}

.atm-c-split__content {
    max-width: 90%;
    background: rgba(255, 255, 255, 0.8);
    padding: 3rem 3rem 2rem;
    box-shadow: 30px 30px 50px rgba(187,181,174,0.1);
    border: 1px solid #f8f6f5;
    transition-property: all;
    transition-duration: 0.5s;
    transition-timing-function: ease;
    transition-delay: 0s;
    margin-left: auto;
    margin-right: auto;
}

.atm-c-split__content p {
    font-size: .8rem;
    text-align: left;
}

.atm-c-split__col, .atm-c-split--vcenter .atm-c-split__col {
    width: 50%;
    height: 68vh;
    display: table-cell;
}

.atm-c-split--vcenter .atm-c-split__col-inner {
    -webkit-box-align: center;
    align-items: center;
}

.atm-c-split--vcenter .atm-c-split__col {
    -webkit-box-align: center;
    align-items: center;
    vertical-align: middle;
}

.atm-content {
    text-align: center;
    padding-top: 2rem;
    padding-bottom: 1.5rem;
}
.atm-content > h2 {
    margin-bottom: 1.5rem;
}

.atm-content .atm-c-btn {
    margin: 1rem .9375rem;
}

.atm-c-btn-brand-alt {
    border-top: 0;
    border-right: 0;
    border-left: 0;
    font-family: 'Cinzel';
    color: #000;
    border-bottom-color: #000;
}

.atm-c-btn {
    line-height: 1;
    padding: 0.5rem 1rem 0.5rem !important;
    border-radius: 0;
    transition: all .2s ease-in-out 0s;
    font-size: .8rem;
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: 2px;
    display: inline-block;
    font-weight: 400;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    cursor: pointer;
    border-bottom-style: solid;
    border-bottom-width: 1px;
    border-image-outset: 0;
    border-image-repeat: stretch;
    border-image-slice: 100%;
    border-image-source: none;
    border-image-width: 1;
}

.atm-c-split--alternate .atm-c-split__col:first-child {
    left: 50%;
}

.atm-c-split__col--empty:last-child {
    transform: translateX(-20%) !important;
    z-index: -1;
}

.atm-c-split--alternate .atm-c-split__col--empty:last-child {
    transform: translateX(20%) !important;
    z-index: -1;
}

.atm-c-split--alternate .atm-c-split__col:last-child {
    left: -50%;
}

.atm-c-split__image {
    position: absolute;
    top: 0;
    left: 0;
    z-index: -2;
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}

.atm-c-split .atm-c-split__image {
    transition: all 12s;
}

.atm-c-split:hover .atm-c-split__image {
    transform: scale(1.04);
}

.atm-c-split:hover .atm-c-split__content{
    transform: translateY(-5px);
}

/* Error spotting for the page */

.error-template {padding: 40px 15px;text-align: center;}
.error-actions {margin-top:15px;margin-bottom:15px;}
.error-actions .btn { margin-right:10px; }

.atm-updates {
    font-size: 1.5rem;
    width: 80%;
    text-align: center;
    margin: 0 auto;
}

.atm-updates, .row h2 {
    text-align: left;
}

.atm-updates, .row, .col span {
    font-family: 'hum', sans-serif;
    font-weight: 300;
    font-size: 1rem;
}

.atm-updates hr {
    border: 1px solid #080808;
}

.atm-card {
    background: transparent;
    border-radius: 0;
    border: 0;
}

.atm-img-top {
    overflow: hidden;
}

.atm-img-top img {
    max-height: 300px;
    -moz-transition: all 15s;
    -webkit-transition: all 15s;
    transition: all 15s;
    height: auto;
    width: auto;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    background-color: #222;
}

.atm-img-top:hover img {
    -moz-transform: scale(1.2);
    -webkit-transform: scale(1.2);
    transform: scale(1.2);
}

.atm-card-body h3 {
    font-family: 'Goudy Old Style';
    font-size: 1.25rem;
    text-transform: uppercase;
}

.atm-card-body span {
    font-family: 'Goudy Old Style';
    font-size: 1rem;
    font-weight: 300;
    text-transform: uppercase;
}

.atm-restro-count {
    text-align: center;
}

.atm-restro-count h1 {
    font-family: 'Goudy Old Style';
    font-size: 2.75rem;
    font-weight: 600;
}

.atm-restro-count h4 {
    font-family: 'Goudy Old Style';
    font-size: 2rem;
    font-weight: 600;
}

/* Lightbox Gallery CSS */

.tz-gallery {
    padding: 40px;
}

.tz-gallery .lightbox img {
    width: 100%;
    margin-bottom: 30px;
    transition: 0.2s ease-in-out;
    box-shadow: 0 2px 3px rgba(0,0,0,0.2);
}


.tz-gallery .lightbox img:hover {
    transform: scale(1.05);
    box-shadow: 0 8px 15px rgba(0,0,0,0.3);
}

.tz-gallery img {
    border-radius: 4px;
}

.baguetteBox-button {
    background-color: transparent !important;
}


@media(max-width: 768px) {
    body {
        padding: 0;
    }

    .container.gallery-container {
        border-radius: 0;
    }
}

/* Back to top button Design */

#atm-btn-back-to-top {
  display: inline-block;
  background-color: #FF9800;
  width: 50px;
  height: 50px;
  text-align: center;
  border-radius: 4px;
  position: fixed;
  bottom: 30px;
  right: 30px;
  transition: background-color .3s, 
    opacity .5s, visibility .5s;
  opacity: 0;
  visibility: hidden;
  z-index: 1000;
}

#atm-btn-back-to-top::after {
  content: "\f077";
  font-family: 'FontAwesome';
  font-weight: normal;
  font-style: normal;
  font-size: 2em;
  line-height: 50px;
  color: #fff;
}

#atm-btn-back-to-top:hover {
  cursor: pointer;
  background-color: #333;
}

#atm-btn-back-to-top:active {
  background-color: #555;
}

#atm-btn-back-to-top.show {
  opacity: 1;
  visibility: visible;
}

/* Main Carousel */

.carousel-main li {
    border-radius: 50%;
    width: 12px;
    height: 12px;
    background-color: #000;
    margin: 0 8px;
}

.carousel-main .active {
    background-color: #9d0e04;
}

/* Carousel Design for Careers page id="career_carousel" */

.atm-career-carousel-caption {
    bottom: -1px;
    padding: 30px;
    background-color: rgba(255,255,255,0.9);
    text-align: center;
}

.atm-career-carousel-flex {
    padding: 0;
    color: #555;
}

.atm-career-carousel-prev, .atm-career-carousel-next {
    background-color: #000000;
    width: 26px;
    height: 48px;
    line-height: 48px;
    border: 2px solid transparent;
    margin: 1px;
    top: 38%;
}

/* Another Carousel Design with id="about_carousel" */

.atm-about-carousel {
    position: absolute;
    width: 50%;
    left: 10%;
}

.atm-about-carousel-indicator {
    top: 100%;
    left: -75%;
}

.atm-about-carousel-indicator li {
    border-radius: 50%;
    width: 55px;
    height: 55px;
    background-color: transparent;
    filter: grayscale(0);
    border: 3px solid #0067b8;
    display: inline-block;
    cursor: pointer;
}

/* Reservation Section Design */

.atm-reserve {
    color: #fff;
    padding: 4rem 4.5rem;
    background-repeat: no-repeat;
    background-size: cover;
    margin: 80px 0;
}

.atm-reserve h1 {
    color: #c19c5a;
    padding-bottom: 1rem; 
}

.atm-reserve span {
    color: #fff;
    font-style: italic;
}

/* Reservation Section Form Design */

.atm-res-form {
    padding: 3.5rem 1rem 0 1rem;
    font-size: 0.9rem;
    font-family: 'hum', sans-serif;
    font-weight: 100;
    letter-spacing: 0.01rem;
}

.input_field {
    background-color: transparent;
    font-family: 'hum', sans-serif;
    border-bottom: 0.5px solid #d1d3d4;
    padding-bottom: 0.5rem;
    font-weight: 100;
}

.input_field .atm-name, .atm-mobile, .atm-email {
    color: #d1d3d4;
}

.input_field i {
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: #d1d3d4;
    color: transparent;
}

.brands-menu {
    border: 0.5px solid #d1d3d4;
    flex-direction: column;
    padding: 0.7rem 0.5rem 0.7rem 0.5rem;
}

/* Franchise Form Design */
.atm-fr-form {
    padding: 1rem;
    font-size: 0.8rem;
    font-family: 'hum', sans-serif;
    font-weight: 100;
    letter-spacing: 0.01rem;
    color: #000;
}

.input_field_fr {
    background-color: transparent;
    font-family: 'hum', sans-serif;
    border: 0.5px solid #000;
    padding: 0.5rem;
    margin: 0.5rem;
    font-weight: 200;
}

.radio_field_fr {
    background-color: transparent;
    font-family: 'hum', sans-serif;
    padding: 0.5rem;
    margin: 0.5rem;
    font-weight: 200;
}

.about-us-menu {
    width: 100%;
}

/* Upcoming Events Design */

.atm-events {
    font-family: 'Arno';
    font-weight: 400;
    color: #414042;
    line-height: 1.8rem;
}

.atm-events hr {
    border: 1px solid #080808;
}

.atm-events h4 {
    padding-top: 2rem;
    font-family: 'Arno';
    color: #b58b3c;
    font-style: italic;
}

.atm-events h6 {
    font-family: 'Arno';
    line-height: 3rem;
}

.form-control {
    width: 100% !important;
}

/* Section Animations */

.revealable {
    -webkit-transition: 1.5s ease all;
    transition: 1.5s ease all;
    opacity: 0;
    transform: translateY(-20px);
}

.revealed {
    opacity: 1;
    transform: translateY(0px);
}

/* Location Map Design */
.atm-loc-map {
    background-color: #fff;
}
