/* This style is used to add customized classes for my theme */

/* Sticky Top Bar */

.atm-top-bar {
    position: relative;
    z-index: 10;
    width: 100%;
    font-size: .8rem;
    background-color: #000;
    padding-top: .5em;
    padding-bottom: .5em;
    text-align: center;
    color: #fff;
    text-transform: uppercase;
}

.atm-top-bar a {
    color: #fff;
}

.atm-top-bar a:hover {
    color: rgba(252,248,244,0.7);
    cursor: pointer;
}

.atm-sticky {
    background-color: #fff;
    top: 0px !important;
    box-shadow: 0 0 10px rgba(0,0,0,0.9);
}

.atm-sticky .navbar-brand > img {
    -webkit-transition: 0.5s ease-in-out 0;
    transition: 0.5s ease-in-out 0;
}

#sticky {
    transition: 0.5s;
}

#sticky .navbar-brand img:after, #sticky .navbar-brand img:before {
    position: absolute;
    content: "";
    top: 0;
    right: 0;
    width: 100%;
    height: 50px;
    transform: skewx(10deg);
}

/* Carousel Style */

.atm-carousel-item img {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}

.atm-nav {
    font-family: 'Raleway', serif;
    flex-grow: 0;
    text-transform: uppercase;
    line-height: 1;
    font-weight: 400;
    font-size: .95rem;
}

.atm-nav ul li > a {
    color: #fff;
    margin-right: 0.75rem;
}

.atm-nav a:hover {
    color: rgba(0,0,0,0.7);
}

.atm-btn {
    font-family: 'Raleway', serif;
    line-height: 1;
    padding: .5rem 1rem !important;
    border-radius: 0;
    transition: all .2s ease-in-out 0s;
    font-size: .8rem;
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: 2px;
    display: inline-block;
    font-weight: 400;
    cursor: pointer;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    border-bottom-style: solid;
    border-bottom-width: 1px;
    border-image-outset: 0;
    border-image-repeat: stretch;
    border-image-slice: 100%;
    border-image-source: none;
    border-image-width: 1;
}

.atm-btn-brand {
    font-family: 'Raleway', serif;
    color: #fff;
    background-color: #000;
    border-color: #000;
    border: none;
}

.atm-btn-brand:hover {
    animation: atmbtnbrand 3s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
    color: #fff;
    background-color: #333;
    border-color: #333;
}

.atm-bot-nav {
    font-family: 'Raleway', serif;
    flex-grow: 0;
    text-transform: uppercase;
    line-height: 1;
    font-weight: 400;
    font-size: .8rem;
}

.atm-bot-nav .navbar-nav .nav-item .nav-link {
    padding-left: 1rem;
    padding-right: 1rem;
}

.atm-bot-nav a:hover {
    color: rgba(252,248,244,0.7);
}

.atm-sticky-bot-nav {
    font-family: 'Raleway', serif;
    background-color: #000;
    padding: 0.5rem 2rem;
}

.atm-bot-nav a {
    color: #fff;
}

.atm-icon {
    margin: .5rem;
}

.atm-sticky-bot-nav .atm-icon {
    background-color: rgba(0,0,0,1);
    border-radius: 50%;
    -ms-transition: all .5s ease-in-out 0s;
    -webkit-transition: all .5s ease-in-out 0s;
    transition: all .5s ease-in-out 0s;
}

.atm-sticky-bot-nav .fb {
    padding: .5rem .4rem .4rem .7rem;
}

.atm-sticky-bot-nav .tw {
    padding: .5rem .15rem .4rem .6rem;
}

.atm-sticky-bot-nav .in {
    padding: .5rem .25rem .45rem .7rem;
}

.atm-sticky-bot-nav .atm-icon:hover {
    background-color: rgba(255,255,255,0.7);
}

.in:hover > .fa-instagram, .tw:hover > .fa-twitter, .fb:hover > .fa-facebook {
    color: #000;
}

.atm-sticky-bottom {
    bottom: 56px;
}

.atm-bottom-nav {
    width: 100%;
    color: #fff;
    background-color: #28211f;
    letter-spacing: .05rem;
    word-wrap: break-word;
}

.atm-bottom-nav .row {
    margin-right: 0px;
    margin-left: 0px;
}

.atm-bottom-nav-social, .atm-bottom-nav-news {
    text-align: left;
}

.atm-bottom-nav-address > h3, .atm-bottom-nav-social > h3, .atm-bottom-nav-news > h3 {
    font-family: 'Cinzel', serif;
    font-size: 1.25rem;
    font-weight: 400;
    text-transform: uppercase;
    padding-bottom: 1rem;
}

.atm-bottom-nav-address > h3 {
    font-size: 2rem;
    text-align: left;
}

.atm-about-section-top {
    text-align: justify;
}

.atm-about-section-top h3 {
    font-family: 'Alice', serif;
    font-size: 1.25rem;
}

.atm-bottom-nav-copy {
    font-size: .8rem;
    font-weight: 100;
    text-align: left;
    margin-bottom: 0.5rem;
}

.atm-bottom-nav-copyright {
    font-family: 'open-sans', sans-serif;
    font-size: 0.75rem;
    color: #fff;
}

.atm-bottom-nav-copy span {
    font-size: 1.25rem;
    line-height: 2;
}

.atm-bottom-nav-copy ul {
    display: flex;
    list-style: none;
}

.atm-bottom-nav-copy ul li {
    display: block;
    padding-right: 1rem;
}

.atm-bottom-nav-copy ul li a {
    color: #fff;
}

.atm-bottom-nav-copy ul li:after {
    font-family: 'FontAwesome';
    content: "\f111";
    font-size: .5rem;
    padding-left: 1rem;
    display: inline-block;
}

.atm-bottom-nav-copy ul li:last-child:after {
    content: "";
}

.atm-btn-brand-alt {
    font-family: '';
    color: #333;
    background-color: #fff;
    border-color: #333;
}

.atm-nl-email {
    border-bottom: 1px solid #fff !important;
    width: 100% !important;
    line-height: 2 !important;
    color: #fff !important;
}

/* Brands Division Section */

.atm-c-tout-overlay--dimmed::after {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 0;
    content: '';
    display: block;
    background-color: rgba(0,0,0,0.2);
}

.atm-c-tout-overlay {
    background-attachment: fixed;
    height: 10vh !important;
    padding: 0;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    position: relative;
    z-index: 0;
    min-height: 28rem;
    text-align: center;
    color: #fff;
    background-color: #222;
    overflow: hidden;
}

.atm-c-tout-overlay > div {
    position: absolute;
    top: 50%;
    right: 0;
    left: 0;
    z-index: 1;
    width: 100%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    padding-top: 4rem;
    padding-bottom: 4rem;
}

.atm-c-tout-overlay .container .h1 {
    font-style: italic;
    text-transform: none;
    font-size: 4rem;
    line-height: 1;
}

.atm-c-tout-overlay .container .h1 {
    width: 60%;
    margin: 0 auto 20px;
}

.atm-c-tout-overlay h1, .atm-c-tout-overlay .h1 {
    color: #fff;
}

.atm-c-tout-overlay .btn {
    margin-top: 1rem;
}

.atm-c-split {
    margin: 6rem auto;
    display: table;
    table-layout: fixed;
    width: 100%;
    background-repeat: repeat;
    background-position: top left;
    overflow: hidden;
}

.atm-c-split__col {
    text-align: center;
    padding-left: 1.875rem;
    padding-right: 1.875rem;
    position: relative;
    z-index: 0;
    min-height: 68vh;
    background-repeat: repeat;
    background-position: top left;
    overflow: hidden;
}

.atm-c-split__col-inner {
    display: flex;
    height: 100%;
    width: 100%;
}

.atm-c-split__content {
    max-width: 80%;
    background: rgba(255, 255, 255, 0.8);
    padding: 3rem 3rem 2rem;
    box-shadow: 30px 30px 50px rgba(187,181,174,0.1);
    border: 1px solid #f8f6f5;
    transition-property: all;
    transition-duration: 0.5s;
    transition-timing-function: ease;
    transition-delay: 0s;
    margin-left: auto;
    margin-right: auto;
}

.atm-c-split__content p {
    font-size: .95rem;
    text-align: justify;
}

.atm-c-split__col, .atm-c-split--vcenter .atm-c-split__col {
    width: 50%;
    height: 68vh;
    display: table-cell;
}

.atm-c-split--vcenter .atm-c-split__col-inner {
    -webkit-box-align: center;
    align-items: center;
}

.atm-c-split--vcenter .atm-c-split__col {
    -webkit-box-align: center;
    align-items: center;
    vertical-align: middle;
}

.atm-content {
    text-align: center;
    padding-top: 2rem;
    padding-bottom: 1.5rem;
}
.atm-content > h2 {
    margin-bottom: 1.5rem;
}

.atm-content .atm-c-btn {
    margin: 1rem .9375rem;
}

.atm-c-btn-brand-alt {
    border-top: 0;
    border-right: 0;
    border-left: 0;
    font-family: '';
    color: #000;
    border-bottom-color: #000;
}

.atm-c-btn {
    font-family: 'Raleway', serif;
    line-height: 1;
    padding: 0.5rem 1rem 0.5rem !important;
    border-radius: 0;
    transition: all .2s ease-in-out 0s;
    font-size: .8rem;
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: 2px;
    display: inline-block;
    font-weight: 400;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    cursor: pointer;
    border-bottom-style: solid;
    border-bottom-width: 1px;
    border-image-outset: 0;
    border-image-repeat: stretch;
    border-image-slice: 100%;
    border-image-source: none;
    border-image-width: 1;
}

.atm-c-split--alternate .atm-c-split__col:first-child {
    left: 50%;
}

.atm-c-split__col--empty:last-child {
    transform: translateX(-20%) !important;
    z-index: -1;
}

.atm-c-split--alternate .atm-c-split__col--empty:last-child {
    transform: translateX(20%) !important;
    z-index: -1;
}

.atm-c-split--alternate .atm-c-split__col:last-child {
    left: -50%;
}

.atm-c-split__image {
    position: absolute;
    top: 0;
    left: 0;
    z-index: -2;
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}

.atm-c-split .atm-c-split__image {
    transition: all 12s;
}

.atm-c-split:hover .atm-c-split__image {
    transform: scale(1.04);
}

.atm-c-split:hover .atm-c-split__content{
    transform: translateY(-5px);
}

/* Error spotting for the page */

.error-template {color: #fff; padding: 40px 15px;text-align: center;}
.error-template h2 {color: #fff;}
.error-actions {margin-top:15px;margin-bottom:15px;}
.error-actions .btn {color: #fff; margin-right:10px; }

.atm-updates {
    width: 80%;
    text-align: center;
    margin: 0 auto;
}

.atm-updates span {
    font-family: 'Alice', serif;
    font-weight: 400;
    font-size: 1.25rem;
    font-style: italic;
    color: #b58b3c;
}

.atm-updates hr {
    border: 1px solid #080808;
}

/* Latest Posts */

.atm-card {
    background: transparent;
    border-radius: 0;
    border: 0;
}

.atm-img-top {
    overflow: hidden;
}

.atm-img-top img {
    max-height: 300px;
    -moz-transition: all 15s;
    -webkit-transition: all 15s;
    transition: all 15s;
    height: auto;
    width: auto;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    background-color: #222;
}

.atm-img-top:hover img {
    -moz-transform: scale(1.2);
    -webkit-transform: scale(1.2);
    transform: scale(1.2);
}

.atm-card-body h3 {
    font-family: 'Cinzel', serif;
    font-size: 1.25rem;
    text-transform: uppercase;
}

.atm-card-body h6 {
    font-family: 'Cinzel', serif;
    font-size: 1rem;
    font-weight: 400;
    text-transform: uppercase;
}

.atm-latest h3 {
    font-family: "Cinzel", sans-serif;
    font-weight: 100;
    text-transform: uppercase;
}

.atm-latest-post .row {
    overflow: hidden;
}

.atm-latest-post .row img {
    -ms-transition: 1s ease all;
    -webkit-transition: 1s ease all;
    transition: 1s ease all;
    -webkit-transform: scale(1.05, 1.05);
    -ms-transform: scale(1.05, 1.05);
    transform: scale(1.05, 1.05);
}

.atm-latest-post:hover .row > img {
    -webkit-transition: 1s ease all;
    transition: 1s ease all;
    -webkit-transform: scale(1.1, 1.1);
    -ms-transform: scale(1.1, 1.1);
    transform: scale(1.1, 1.1);
}

.atm-latest-post h3 {
    font-family: "Cinzel", sans-serif;
    font-weight: 100;
    padding: 15px;
    text-transform: uppercase;
}

.atm-latest-post h6 {
    font-family: 'Cinzel', serif;
    font-size: 1rem;
    font-weight: 400;
    text-transform: uppercase;
    color: currentColor;
}

.atm-restro-count {
    text-align: center;
}

.atm-restro-count h1 {
    font-family: 'open-sans', sans-serif;
    font-size: 2.75rem;
    font-weight: 400;
}

.atm-restro-count h4 {
    font-family: 'Raleway', serif;
    font-size: 2rem;
    font-weight: 400;
}

/* Lightbox Gallery CSS */

.tz-gallery {
    padding: 40px;
}

.tz-gallery .lightbox img {
    width: 100%;
    margin-bottom: 30px;
    transition: 0.2s ease-in-out;
    box-shadow: 0 2px 3px rgba(0,0,0,0.2);
}


.tz-gallery .lightbox img:hover {
    transform: scale(1.05);
    box-shadow: 0 8px 15px rgba(0,0,0,0.3);
}

.tz-gallery img {
    border-radius: 4px;
}

.baguetteBox-button {
    background-color: transparent !important;
}

@media(max-width: 768px) {
    body {
        padding: 0;
    }

    .container.gallery-container {
        border-radius: 0;
    }
}

/* Back to top button Design */

#atm-btn-back-to-top {
  display: inline-block;
  /*background-color: #FF9800;*/
  width: 50px;
  height: 50px;
  text-align: center;
  border-radius: 4px;
  position: fixed;
  bottom: 50px;
  right: 30px;
  transition: background-color .3s, 
    opacity .5s, visibility .5s;
  opacity: 0;
  visibility: hidden;
  z-index: 1001;
}

#atm-btn-back-to-top::after {
  content: "\f077";
  font-family: 'FontAwesome';
  font-weight: normal;
  font-style: normal;
  font-size: 2em;
  line-height: 50px;
  color: #765e36;
}

#atm-btn-back-to-top:hover {
  cursor: pointer;
  /*background-color: #333;*/
}

#atm-btn-back-to-top:active {
  /*background-color: #555;*/
}

#atm-btn-back-to-top.show {
  opacity: 1;
  visibility: visible;
}

/* Main Carousel */

.carousel-main li {
    border-radius: 50%;
    width: 12px;
    height: 12px;
    background-color: #000;
    margin: 0 8px;
}

.carousel-main .active {
    background-color: #9d0e04;
}

/* Carousel Design for Careers page id="career_carousel" */

.atm-career-carousel-caption {
    bottom: -1px;
    padding: 30px;
    background-color: rgba(255,255,255,0.9);
    text-align: center;
}

.atm-career-carousel-flex {
    padding: 0;
    color: #555;
}

.atm-career-carousel-prev, .atm-career-carousel-next {
    background-color: #000000;
    width: 26px;
    height: 48px;
    line-height: 48px;
    border: 2px solid transparent;
    margin: 1px;
    top: 38%;
}

/* Another Carousel Design with id="about_carousel" */

.atm-about-carousel {
    position: absolute;
    width: 50%;
    left: 10%;
}

.atm-about-carousel-indicator {
    top: 50%;
    left: -75%;
}

.atm-about-carousel-indicator li {
    border-radius: 50%;
    width: 55px;
    height: 55px;
    background-color: transparent;
    filter: grayscale(0);
    border: 3px solid #0067b8;
    display: inline-block;
    cursor: pointer;
}

/* Reservation Section Design */

.atm-reserve {
    color: #fff;
    padding: 4rem 4.5rem;
    background-repeat: no-repeat;
    background-size: cover;
    margin: 80px 0;
    background-position: top center;
}

.atm-reserve h1 {
    color: #c19c5a;
    padding-bottom: 1rem; 
}

.atm-reserve span {
    color: #fff;
    font-style: italic;
}

/* Reservation Section Form Design */

.atm-res-form {
    padding: 3.5rem 1rem 0 1rem;
    font-size: 0.9rem;
    font-family: '';
    font-weight: 100;
    letter-spacing: 0.01rem;
}

.input_field {
    background-color: transparent;
    font-family: '';
    border-bottom: 0.5px solid #d1d3d4;
    padding-bottom: 0.5rem;
    font-weight: 100;
}

.input_field .atm-name, .atm-mobile, .atm-email {
    color: #d1d3d4;
}

.input_field i {
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: #d1d3d4;
    color: transparent;
}

.brands-menu {
    border: 0.5px solid #d1d3d4;
    flex-direction: column;
    padding: 0.7rem 0.5rem 0.7rem 0.5rem;
}

/* Franchise Form Design */
.atm-fr-form {
    /*padding: 1rem;*/
    font-size: 0.8rem;
    font-family: 'Raleway', serif;
    font-weight: 100;
    letter-spacing: 0.01rem;
    color: #000;
}

.input_field_fr {
    background-color: transparent;
    font-family: 'open-sans', sans-serif;
    border: 0.5px solid #000;
    padding: 0.5rem;
    margin: 0.5rem;
    font-weight: 200;
}

.radio_field_fr {
    background-color: transparent;
    font-family: 'Raleway', serif;
    padding: 0.5rem;
    margin: 0.5rem;
    font-weight: 200;
}

.about-us-menu {
    width: 100%;
}

/* Upcoming Events Design */

.atm-events {
    font-family: 'Alice', serif;
    font-weight: 400;
    color: #414042;
    line-height: 1.8rem;
}

.atm-events hr {
    border: 1px solid #080808;
}

.atm-events h4 {
    padding-top: 2rem;
    font-family: 'Alice', serif;
    color: #b58b3c;
    font-style: italic;
}

.atm-events h6 {
    font-family: 'Alice', serif;
    line-height: 3rem;
}

.form-control {
    width: 100% !important;
}

/* Section Animations */

.revealable {
    -webkit-transition: 1.5s ease all;
    transition: 1.5s ease all;
    opacity: 0;
    transform: translateY(-20px);
}

.revealed {
    opacity: 1;
    transform: translateY(0px);
}

.atmslideup {
    -webkit-transition: 2.5s ease all;
    transition: 2.5s ease all;
    transform: translateY(60px);
}

.atmslideupon {
    transform: translateY(0px);
}

.atmslidedown {
    -webkit-transition: 2.5s ease all;
    transition: 2.5s ease all;
    transform: translateY(-60px);
}

.atmslidedownon {
    transform: translateY(0px);
}

/* Location Map Design */
.atm-loc-map {
    background-color: rgba(255,255,255,1);
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.32);
}

/* People Page Design */

.atm-dir-name {
    font-family: 'Alice', serif;
    padding: 10px 0 5px 0;
    font-size: 1rem;
    text-transform: uppercase;
    font-weight: 400;
}

.atm-dir-post {
    font-family: 'Raleway', serif;
    font-weight: 500;
    color: rgba(0,0,0,0.6);
    font-size: 0.85rem;
}

.custom_hr {
    height: 100%;
    width: 80%;
    border-top: 2px solid;
}

.atm-key-header {
    background-color: rgba(246,241,238,1);
    border-bottom: 0;
}

.atm-key-name {
    font-family: 'Alice', serif;
    display: block;
    padding: 0 0 5px 0;
    font-size: 1rem;
    letter-spacing: 0.15rem;
    text-transform: uppercase;
    font-weight: 400;
    color: #000;
}

.atm-key-post {
    font-family: 'Raleway', serif;
    display: block;
    text-transform: uppercase;
    font-size: 0.8rem;
    color: rgba(0,0,0,0.6);
}

.atm-accord-card {
    background-color: transparent;
    border: 0;
}

.atm-accord-card .card-header {
    background-color: transparent;
    border-bottom: 2px solid #e2e2e2;
}

/* Accordian Icon Toggle */

div.accordion .card .card-header > a::after {
    font-family: "FontAwesome";
    content: "\f068";
    float: right;
    font-size: x-small;
    line-height: 3;
}

div.accordion .card .card-header > a.collapsed::after{
    font-family: "FontAwesome";
    content: "\f067";
    float: right;
    font-size: x-small;
    line-height: 3;
}

.image-modal {
    cursor: pointer;
}

#atm_modal_img:hover {
    /* Create the box shadow at expanded size. */
    box-shadow: 0 3px 10px 0 rgba(0, 0, 0, 0.5);
}

/* People page modal design */

.atm-modal-content {
    border-radius: 0;
}

.atm-modal-name {
    font-size: 1.25rem;
}

.atm-modal-icon-holder {
    border-radius: 50%;
    border: 1px solid #000;
}

.atm-modal-icon-holder.fb {
    padding: .2rem .3rem .2rem .5rem;
}

.atm-modal-icon-holder.tw {
    padding: .2rem .15rem .2rem .45rem;
}

.atm-modal-icon-holder.in {
    padding: .2rem .35rem .2rem .45rem;
}

.atm-modal-icon-holder:hover {
    background-color: black;
}

.atm-modal-icon-holder:hover > .atm-modal-icon {
    color: #fff;
}

.atm-modal-icon {
    color: #000;
}

.atm-modal-body {
    text-align: justify;
    font-size: 0.85rem;
}

/* Careers Page */

.atm-career-banner {
    color: #fff;
    padding: 4rem 4.5rem;
    background-repeat: no-repeat;
    background-size: cover;
    margin: 80px 0;
}

.atm-career-banner h2 {
    font-size: 1.75rem;
    color: #fff;
}

.atm-career-banner h3 {
    font-size: 1.5rem;
}

/* Create a custom radio button */

.input-container ul {
    list-style: none;
    margin: 0;
    padding: 0;
    overflow: auto;
}

.input-container ul li{
  color: #b58b3c;
  display: block;
  position: relative;
  float: left;
  width: 80%;
  height: 50px;
}

.input-container ul li input[type=radio]{
    position: absolute;
    opacity: 0;
    cursor: pointer;
}

.input-container ul li label{
    display: block;
    position: relative;
    font-weight: 300;
    font-size: 1rem;
    margin: 7px 0 0 0;
    height: 30px;
    z-index: 9;
    cursor: pointer;
    -webkit-transition: all 0.25s linear;
    top: -10px;
    left: 25px;
    width: 65%;
}

.input-container ul li:hover label{
    color: #fff;
}

.input-container ul li .check{
    display: block;
    position: absolute;
    border: 1px solid #fff;
    border-radius: 100%;
    height: 15px;
    width: 15px;
    top: 0;
    left: 0;
    z-index: 5;
    transition: border .25s linear;
    -webkit-transition: border .25s linear;
}

.input-container ul li:hover .check {
  border: 2px solid #FFFFFF;
}

.input-container ul li .check::before {
    display: block;
    position: absolute;
    content: '';
    border-radius: 100%;
    height: 10px;
    width: 10px;
    top: 1px;
    left: 1px;
    margin: auto;
    transition: background 0.25s linear;
    -webkit-transition: background 0.25s linear;
}

input[type=radio]:checked ~ .check {
  border: 2px solid #fff;
}

input[type=radio]:checked ~ .check::before{
  background: #b58b3c;
}

/* Careers Page Search Box Design */

.search {
  width: 100%;
  position: relative
}

.searchTerm {
    float: left;
    width: 80%;
    padding: 5px;
    height: 35px;
    outline: none;
}

.searchTerm:focus{
    color: #b58b3c;
}

.searchButton {
    border: 1px solid #b58b3c;
    position: absolute;
    right: -65px;
    width: 150px;
    height: 35px;
    background-color: #b58b3c;
    text-align: center;
    color: #fff;
    cursor: pointer;
    font-size: 1rem;
}

.searchButton::after {
    content: 'FIND JOBS'
}

/* Design work with us section */

.atm-with-us h1, .atm-life-skr h1 {
    font-size: 1.5rem;
}

.atm-with-us h4 {
    font-family: 'Alice', serif;
    font-weight: 200;
    font-size: 1.15rem;
    font-style: italic;
    color: #b58b3c;
}

.atm-with-us hr, .atm-life-skr hr {
    height: 100%;
    width: 20%;
    border-top: 2px solid;
}

.atm-with-us span {
    font-size: 1.25rem;
}

/* Location Map Beacon */

.beacon{
    background-color:#2c3e50;
    height:0.5em;
    width:0.5em;
    border-radius:50%;
    -webkit-transform:translateX(-50%) translateY(-50%);
}
.beacon:before{
    position:absolute;
    content:"";
    height:0.5em;
    width:0.5em;
    left:0;
    top:0;
    background-color:transparent;
    border-radius:50%;
    box-shadow:0px 0px 2px 2px #2980b9;
    -webkit-animation:active 2s infinite linear;
    animation:active 2s infinite linear;
}

body.page-id-14581 aside.main, body.page-id-14581 header.main {
    display: none;
}