/**
* Query classes according to device width for responsiveness on various devices.
* Device Width Max is Till The Width Below the specified pixels. And for device width below is vice versa
* Width Below / Till / Max
* Width Above / From / Min
**/

/* Between 250px to 786px */
@media screen and (max-width: 786px) and (min-width: 250px) {
	.atm-c-split__col, .atm-c-split--vcenter .atm-c-split__col {
		height: 25vh;
	}
	.atm-c-split--alternate .atm-c-split__col:first-child {
		left: 0%;
	}
	.atm-c-split--alternate .atm-c-split__col:last-child, .atm-c-split__col--empty:last-child {
		display: none;
	}
	.atm-c-split__content {
		max-width: 90%;
	}
	.atm-c-split__col {
		padding: 0;
	}
	.atm-bottom-nav-copy ul {
		display: block;
	}
	.atm-bottom-nav-copy ul li:after {
		display: none;
	}
	.atm-sticky {
	    background-color: #fff;
	    top: 0px !important;
	    box-shadow: 0 0 2px rgba(0,0,0,0.15);
	}
}

/* Between 786px to 992px */
@media screen and (max-width: 992px) and (min-width: 786px) {
	.atm-c-split--alternate .atm-c-split__col:last-child {
	    left: -53%;
	}
	.atm-c-split--alternate .atm-c-split__col:first-child {
	    left: 45%;
	}
	.atm-c-split__content {
    	max-width: 110%;
    }
    .atm-c-split__col, .atm-c-split--vcenter .atm-c-split__col {
    	height: 45vh;
    }
    .atm-about-carousel-indicator {
	    top: 75px;
	}
	.atm-bottom-nav-copy ul {
		display: block;
	}
	.atm-bottom-nav-copy ul li:after {
		display: none;
	}
}

/* Screen Above 992px */
@media only screen and ( min-width: 992px ) {
	.atm-sticky-bot-nav {
		justify-content: space-between !important;
	}
}

/* Screen Below 992px */
@media only screen and ( max-width: 992px ) {
	.atm-sticky-bot-nav {
		position: relative;
	}
	.atm-loc-map span {
    	font-size: 0.75rem;
	}
}

/* Screen Below 786px */
@media only screen and ( max-width: 786px ) {
	.atm-location-map {
		display: none;
	}
	.atm-header {
		padding: 80px 0 0 0;
	}
	.atm-ppl-header {
		padding: 110px 0 0 0;
	}
	.atm-banner-header {
		height: 210px;
		position: relative;
		top: -20px;
	}
	.atm-reserve-header {
		position: relative;
		top: -20px;
	}
	.atm-about-section-top h3 {
		font-size: 1rem;
	}
	.atm-restro-count h1 {
		font-size: 2.25rem;
	}
	.atm-restro-count h4 {
		font-size: 1.5rem;
	}
	.atm-updates h2 {
		font-size: 1.5rem;
		
	}
	.atm-card-body h3 {
		font-size: 1rem;
	}
	.atm-card-body h6 {
		font-size: 0.75rem;
	}
	.atm-about-carousel-indicator {
		top: 125px;
	}
	.atm-tool-gallery-image {
		width: 225px;
		height: 156px;
	}
}

/* Screen Above 786px */
@media only screen and ( min-width: 786px ) {
	.atm-header {
		padding: 80px 0 0 0;
	}
	.atm-ppl-header {
		padding: 110px 0 0 0;
	}
	.atm-banner-header {
		height: 485px;
	}
	.atm-updates h2 {
		font-size: 1.75rem;
	}
	.atm-tool-gallery-image {
		width: 325px;
		height: 216px;
	}
}

/* Screen Above 576px */
@media only screen and ( min-width: 576px ) {	

	.atm-about-section-top, .atm-c-split__content p, .atm-pursuit-section div div p {
	    text-align: justify;
	}
	.tz-gallery {
	    padding: 58px;
	}
	#modal-ready h6 {
	    font-family: 'Raleway', sans-serif;
	    font-size: 1.35rem;
	    font-weight: 500;
	    line-height: 2;
	    letter-spacing: 2px;
	    padding-top: 5px;
	}
	#modal-ready span {
	    font-size: 1rem;
		line-height: 1;
		letter-spacing: 1.25px;
		text-align: justify;
	}
	.atm-h1 {
		text-align: center;
		font-size: 1.75rem;
		line-height: 1;
		letter-spacing: 2px;
		font-weight: 600;
	}
	.atm-c-split-mob-image {
		display: none;
	}
	.atm-c-split {
		margin: 6rem auto;
	}
	/*.atm-about-section-top h3 {
		margin: 0 5rem;
	}*/
	.atm-d-hide {
		display: none;
	}
	#icon_wrapper {
		display: none;
	}
	.atm-nl-form div div span .wpcf7-text {
	    font-family: 'open-sans', sans-serif;
	    background-color: #000 !important;
	    color: #89817e !important;
	    border-bottom: none !important;
	    padding: 0.08rem 1.25rem !important;
	}
	.atm-bottom-nav-social, .atm-bottom-nav-news, .atm-bottom-nav-copy {
	    text-align: center;
	}
	.atm-bottom-nav-address > h3, .atm-bottom-nav-social > h3, .atm-bottom-nav-news > h3, .atm-bottom-nav-copy > h3 {
		font-size: 1.5rem;
	}
	/* footer brands */
	.atm-bottom-nav-copy ul {
	    display: flex;
	    list-style: none;
	}
	.atm-bottom-nav-copy ul li a {
	    color: #fff;
	    font-size: .85rem;
	}
	.atm-bottom-nav-copy ul li a:hover {
		color: rgb(192, 150, 61);
	}
	.atm-bottom-nav-copy ul li:after {
	    font-family: 'FontAwesome';
		content: "\f111";
		font-size: .35rem;
		padding: 1rem;
		color: rgb(192, 150, 61);
		position: relative;
		bottom: 2px;
	}
	.atm-bottom-d-nav span {
		font-size: 0.85rem;
	}
	.atm-md-footer a:hover {
	    color: #000;
	}

}

/* Screen Below 576px */
@media only screen and ( max-width: 576px ) {

	/* Navigation menu on mobile */
	.atm-overlay {overflow-y: auto;}
	.atm-overlay a {font-size: 1rem}
	.atm-overlay .atmnavmobclosebtn {
	  font-size: 40px;
	  top: 15px;
	  right: 35px;
  	}

	.atm-md-footer {
		display: block;
		text-align: center;
		line-height: 3;
	}
	.atm-md-footer > span {
		display: block;
	}
	.atm-ppl-header {
		padding: 83px 0 0 0;
	}
	.atm-banner-header {
		height: 150px;
	}
	.atm-reserve h1 {
		font-size: 1.25rem;
	}
	.atm-sticky-logo {
	    -webkit-transition: 0.5s ease-in-out 0;
	    transition: 0.5s ease-in-out 0;
	    width: 50px;
	}
	#myCarousel {
		padding-top: 80px;
	}
	.card-img-overlay {
		position: relative;
	}
	.atm-about-section-top, .atm-c-split__content p, .atm-pursuit-section div div p {
		text-align: center !important;
	}
	.tz-gallery {
		padding: 0px;
	}
	#modal-ready h6 {
	    font-family: 'Raleway', sans-serif;
	    font-size: 0.95rem;
	    font-weight: 500;
	    line-height: 2;
	    letter-spacing: 1px;
	    padding-top: 3px;
	}
	#modal-ready span {
	    font-size: 0.85rem;
		line-height: 1;
		letter-spacing: 1.25px;
		text-align: left;
	}
	.atm-h1 {
		text-align: center;
		font-size: 1.25rem;
		line-height: 2;
		letter-spacing: 1px;
		font-weight: 600;
	}
	.atm-c-split-mob-image {
		display: block;
	}
	.atm-c-split {
		margin: 1rem auto 3rem auto;
	}
	.atm-m-hide {
		display: none;
	}
	#sticky-bottom {
		display: none;
	}
	.atm-bottom-nav-social, .atm-bottom-nav-news {
	    text-align: left;
	}
	/* footer brands */
	.atm-bottom-nav-copy ul li {
	    display: block;
	}

	.atm-bottom-nav-copy ul li a:hover {
	    color: rgb(192, 152, 61);
	}

}